---
import { db } from "../db";

const countryList = await db.selectFrom("country").selectAll().execute();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>whatdo.earth</title>
	</head>
	<body>
		{countryList.map((country) => <p>{country.name}</p>)}
	</body>
</html>
